body {
  background-color: #D9D9D9;
  color: white;
}

input {
  color: black;
}

.App {
  text-align: center
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.list {
  padding: 0;
  text-align: left;
  list-style: bengali;
  width: 60%;
  margin: 0 auto;
}

.prop-item {
  @apply inline-block ml-3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
