body {
  color: white;
  @apply bg-zinc-500;
}

input {
  color: black;
}

.App {
  text-align: center
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.list {
  padding: 0;
  text-align: left;
  list-style: bengali;
  width: 60%;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #111827;
  // color: white;

  @apply font-bold text-2xl tracking-wider py-5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
